

<div class="content">
<h1>Welcome to Dragon Turf</h1>



<% if @current_user %>
<p>Your user-id is: <%= @current_user.name %></p>
<p>Time since creation: <%= time_ago_in_words(@current_user.created_at) %></p>
<% else %>
<p>Please <a href="/login">login</a> or create <a href="/users/new">new user</a></p>
<% end  %>

<div id="dragon"></div>

</div>
