html, body{
  margin: 0 auto;
  background: black;
  color: white;
}

#map-container {
   height: 400px;
   margin-top: 25px;
   border-width: 7px;
 }


#map-canvas{
   height: 480px;
   width: 100%;
}

#container{
  margin: 0 auto;
  max-width: 960px;

}

.content{
  margin-top: 10%;
  text-align: center;
}

form{
  margin-top: 10%;
  margin-left: 25%;

}

label{
  min-width: 150px;
  text-align: right;
  display: inline-block;

}

#loginButton{
  display: center;
  margin-left: 20%;
}

#errorNess{
  margin-top: 30px;
}
#errorNess li{
  margin-left: 50%;
  transform: translate(-50%);
}

#warning{
  text-align: center;
}

.field_with_errors {
  display: inline-block;
}

.field_with_errors input{
  border-color: red;
}
nav{
  position: relative;

  text-align: center;
  
}

nav a{
  text-decoration: none;
}

a:link {
    color: #C08000;
}

a:visited {
    color: #C08000;
}

a:hover {
    color: #80C0FF;
}

a:active {
    
}

#scanMonsters{
  
  margin-left: 27%;
  width: 50%;
  height: 30px;

 
 
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
#scanMonsters:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
#scanMonsters:active {
  position:relative;
  top:1px;
}





#look{
  position: absolute;
  top: 32px;
}

.scanMiddle{
  text-align: center;
  left: 45%;
  padding-top: 10%;
}

.ogrepop{
  position: absolute;
  right: 10%;
  top:50%;
}


.ogreAttackWindow{
  width: 960px;
  height: 330px;

  display:flex;
  justify-content: center;
}

.informant{
  color: black;
}

.ranking{
  
  width: 150px;
  margin-left: 5vw;
}


.ogreLevel{
  height: 100px;
  width: 100px;
  display: block;
  border: 1px solid black;

  text-align: center;
  margin-left: 15%;
}

.ranking .ogreLevel:first-child{
  margin-top: 10px;
  border-bottom: none;
}

.ranking .ogreLevel:nth-of-type(2){
  border-bottom: none;
  
}

.ogreStats{
  margin-top:15px;
 width: 200px;
 height:315px;
}


.ogreStats p{
  margin-left: 30px;
  text-align: left;
  display: block
}


p span{
  width: 40px;
  text-align: right;
}

.lvlNum{
  font-size: 2em;
  margin-top: 10%;

}

.ogreHealth{
  font-size: 2.5em;
  margin-top: 10%;
}

.ogrePic{
  height: 330px;
}
#monsterHealth{
  margin: 10px auto;
  margin-top: 5%;
  width: 204px;
  height: 20px;
  border: 1px solid red;

}
.monsterHealth{
  color: red;
  width: 100%;
  height: 20px;
  background: green;

}

.monsterBox{
  margin: 0 auto;
  width:300px;
  height: 300px;
}

.monsterSize{
  position: relative;
  bottom: 0;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;

}

#yourHealth{
  margin: 0 auto;
  margin-top: 10px;
  width:204px;
  height: 20px;
  border: 1px solid white;
  border-bottom: none;
}

.yourHealth{
  color: white;
  width:100%;
  height: 20px;
  background: green;

}

.animHealth{
  -webkit-transition: width 2s;
  transition: width 2s;
}

#yourSpells{
  margin: 0 auto;
  height: 100px;
  width: 202px;
  border: 2px solid white;
  color: yellow;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

#slota{
  display: inline-block;

  height:99px;
  width:98px;
  margin-right: 0;
  border-right: 1px solid white;
    background-repeat: no-repeat;
  background-size: contain;
}

#slotb{
  display: inline-block;

  height:98px;
  width:98px;
   margin-left: 0;
     background-repeat: no-repeat;
  background-size: contain;
 /* border-left: 1px solid white;*/
}


#spellStat{
  margin: 0 auto;
  box-sizing: border-box;
  height: 30px;
  width: 206px;
  border: 1px solid white;
  border-top: none;

}

#spellStat div{
  font-size: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  color: white;
  width: 48px;
  height: 30px;
  line-height: 30px;
}

#attackForm{
margin: 0 auto;
width: 206px;
}

#attackForm label{
  min-width: 0;
  text-align: left;
  display: block;
}

/*#attack{
  color: white;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  height: 50px;
  width: 204px;
  line-height: 50px;
  background: green;
  border:1px solid red;
}*/




#attack {
    margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  height: 50px;
  width: 204px;
  line-height: 40px;



  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
  background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
#attack:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
  background-color:#68a54b;
}
#attack:active {
  position:relative;
  top:1px;
}





















#attack:hover{
  cursor: pointer;
}

#blur{
  position: absolute;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.6);

}

.blurred{
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

#inventory{
  position: absolute;
  top:10%;
  left:50%;
  transform: translate(-50%);
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background-color: rgba(100,0,0,0)
}

.inventory{
  color: white;
  width: 120px;
  height: 120px;
  background-color: rgba(220,12,8,.6);
  border: 1px solid white;
  background-repeat: no-repeat;
  background-size: contain;
}

.inventory p{
  font-size: .6em;
  position: relative;
  left:0;
  top: 0;
  margin-top: 0;

  background-color: rgba(0,0,0,1);
}

.grayMe{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  pointer-events: none;
}

.fire{
  background-image: url("http://vignette1.wikia.nocookie.net/wowwiki/images/3/3a/Spell_fire_fireball02.png/revision/latest?cb=20061230202356");
}
.fireProject{
  background-image: url("http://hydra-media.cursecdn.com/pathofexile.gamepedia.com/8/89/Dragon_Fireball_Effect.png")
}
.fireImpact{
  background-image: url("http://www.dunjinni.com/forums/uploads/benwax/explosion_4.png");
}

.air{
  background-image: url("http://classic.battle.net/war3/images/neutral/spells/tornado.gif");
}

.airProject{
  background-image: url("http://www.gif-star.com/natur/wirbelsturm/wirbelsturm04.gif");
}

.water{
 background-image: url("http://hydra-media.cursecdn.com/wow.gamepedia.com/5/51/Spell_frost_freezingbreath.png")
}

.waterProject{
      -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  background-image: url("http://api.ning.com/files/yqBR5X1kRtWZj-w2hpJgj-8sPhrWcZ*mRyqTcevMm4moxPVHKVK2yWRZQEbTzKkhULwX5JNswvzmmNUqAoAqr2hH9W3Nb0FK/SRiconspellIce.png");
}

.earth{
  background-image: url("http://img1.wikia.nocookie.net/__cb20060930182205/wowwiki/images/c/c5/Spell_nature_earthquake.png");
}

.earthProject{
  background-image: url("http://fc02.deviantart.net/fs71/i/2013/012/f/f/rock_02_png___by_alzstock-d5r85eg.png")

}

#projectile{
  position: absolute;
  left: -200px;
  top: 140px;
  width:200px;
  height: 200px;

  background-repeat: no-repeat;
  background-size: contain;

  
}

.projectFire{
    animation-name: fire;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes fire{
    0%   { left:-200px; }
    100% {left:42vw; display: none; }
}

.projectMiss{
    animation-name: miss;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes miss{
    0%   { left:-200px; }
    100% {left:80vw; display: none; }
}



#adminGod{
  position: fixed;
  left: 0;
  
  bottom: 0;
}


#adminGod ul{
  justify-content: center;
  flex-direction: column-reverse;
  
}

#adminGod ul li{
 margin: 0 10px;
 display: block
  
}



nav ul{
  padding-left: 0;
  margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
nav li{
  list-style-type: none;
  
}
ol{
  padding-left: 20px;
}