html, body{
  margin: 0 auto;
}

#map-container {
   height: 400px;
   margin-top: 25px;
   border-width: 7px;
 }


#map-canvas{
   height: 480px;
   width: 100%;
}

#container{
  margin: 0 auto;
  max-width: 960px;

}

.content{

}

form{
  margin-left: 30%;

}
nav{
  position: relative;

  text-align: center;
  
}

nav a{
  text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    
}

#scanMonsters{
  display: center;
  flex: none;
  margin: 0 auto;
  align-items: center;
}






nav ul{
  padding-left: 0;
  margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav li{
  list-style-type: none;
  
}
ol{
  padding-left: 20px;
}